@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+SC:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-success: #50C878;
    --color-info: #0096FF;
    --color-warning: #FFAC1C;
    --color-error: #F87171;
    --color-primary: #6366F1;
    --color-secondary: #D1D5DB;

    --color-primary-700: #4338CA;
    --color-success-700: #3C9C5A;
    --color-info-700: #0070C0;
    --color-warning-700: #CC8700;
    --color-error-700: #DC2626;
    --color-secondary-700: #9CA3AF;

    --color-success-30: #C2E6D3;
    --color-info-30: #B8DFFF;
    --color-warning-30: #FFE2B2;
    --color-error-30: #FECACA;
    --color-primary-30: #E0E7FF;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}